<div class="container-fluid subscribe py-5">
    <div class="container text-center py-5">
        <div class="mx-auto text-center" style="max-width: 900px;">
            <h5 class="subscribe-title px-3">Newsletter</h5>
            <h1 class="text-white mb-4">Abonnez vous à notre newsletter pour recevoir les informations</h1>
            {% if message %}
            <h2 class="text-info mb-4">{{ message }}</h2>
            <script>
                alert("{{ message }}")
            </script>
            {% endif %}

            <div class="position-relative mx-auto">
                <form id="newsletterForm" method="POST">
                    {% csrf_token %}
                    <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" name="email" type="text" placeholder="votre email"/>
                    <input type="submit" value="Envoyer" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('newsletterForm');
        var currentPath = window.location.pathname;
        form.setAttribute('action', currentPath);
    });
</script>